*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
a:link{color: aliceblue;}
a:hover{color: red;}
a:active{color: aliceblue;}
a:visited{color: aliceblue;}
header{
    width: 724px;
    height: 183px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    padding-top: 50px;
}
nav{
    width: 724px;
    height: 726px;
    display: flex;
    margin-left: 200px;
}
nav ul{
    width: 1100px;  
}
nav ul li{}
nav ul li a{
    margin: 0 auto;
    margin-top: 77px;
    display: block;
    width: 409px;
    height: 68px;
    border-radius: 34px;
    background-color: rgb(152, 152, 228);
    text-align: center;
    font-family: "Sitka Text", sans-serif;
    font-weight: 300px;
    font-style: normal;
    font-size: 34px;
    letter-spacing: 0px;
}
.bt1{
    background-image: url(img/Introducepng.png);
}
.bt2{
    background-image: url(img/Designpng.png);
}
.bt3{
    background-image: url(img/Interviewpng.png);
}
.bt4{
    background-image: url(img/Tributepng.png);
}
.bt5{
    background-image: url(img/Philosophypng.png);
}
.bt0{
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    height: 1080px;
    background-image: url(img/indexpng.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: gray;
}